@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #e3f2fd;
}

.chatbot{
    position : fixed;
     
    bottom: 100px;
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);   
}

.chatbot header{
    background: #724ae8;
    padding: 16px 0px;
    text-align: center;
}

.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
}

.chatbot .chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}