@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #e3f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-toggler{
    position: fixed;
    bottom: 100px;
    right: 40px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #724ae8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
}

.chatbot-toggler span{
    position: absolute;
    height: 2px;
    align-self: center;
    margin-bottom: 20px ;
    margin-left: 12px;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;

}

.chatbot{
    position : fixed;
    bottom: 100px;
    width: 420px;
    background: #fff;
    overflow: hidden;
    transform:scale(0.5);
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);   
}

.show-chatbot .chatbot{
    transform:scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
}

.chatbot header{
    background: #724ae8;
    padding: 16px 0px;
    text-align: center;
    display: flex;
    justify-content:space-between
}

.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
    margin-left: 12px;
}

.chatbot header span{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 5px;
    nav-right: current;
    right: 30px;
}

.chatbot .chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat{
    display: flex;
}

.chatbox .chat p{
    color:#fff;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 12px 10px 12px 10px;
    border-radius: 10px 10px 0px 10px;
    background: #724ae8;
}

.toy{
    margin-right: 10px;
}

.chatbox .incoming p{
    color:#000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0px;
}

.chatbox .incoming span{
     height: 32px;
     width: 32px;
     color: white;
     align-self: flex-end;
     background: #724ae8;
     text-align: center;
     line-height: 32px;
     border-radius: 4px;
     margin:0 10px 5px 0;
}

.chatbox .outgoing{
    justify-content: flex-end;
    margin-top: 20px;
}

.chatbox .outgoing p{
    background: #724ae8;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}

.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 95%;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #f2f2f2;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 35px 35px;

}

.chat-input textarea{
    height: 25px;
    background-color: #f2f2f2;
    width: 75%;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
    padding: 25px 15px 16 5px;
    margin-right: 40px;
    margin-top: 8px;
    align-items: center;
}

.chat-input textarea:focus{
    border: none;
    outline: none;
}

.chat-input span{
    background-color: #724ae8;
    padding: 5px;
    border-radius: 50%;
    box-shadow: -1px 1px 4px rgba(0,0,0,0.2);
    right:1px;
    height: 35px;
    color: #ffff;
    font-size: 1.5rem;
    margin-top: 4px;
    margin-left: 40px;
    cursor: pointer;
    visibility:hidden;
}
 
.chat-input textarea:valid ~ span{
    visibility:visible;
}